
.title-section .sub-title{
    
    font-size: 30px;
    line-height: 1.2;
    color: goldenrod;

}
.title-section .title{
   
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 8px;
}